.hero{
    background-image: url("https://www.shutterstock.com/image-photo/laptop-display-medical-report-diagnostic-600nw-2384447711.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
.HeroContaienr{
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(90deg,rgba(33, 145, 127, 0.75) 0%, rgba(47, 191, 167, 0.53) 61%, rgba(255, 255, 255, 0.52) 100%);
}
.HeroContaienr h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.HeroContaienr p{
    font-size: 20px;
    max-width: 600px;
}
.buttonContainer{
    margin-top: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;}
.Button{
     box-shadow:  0 2px 6px rgb(250, 249, 249);
     border: 1px solid white !important;
     font-weight: 600 !important;
}
.Button:hover{
    background-color: white !important;
    color: #21917f !important;
    box-shadow:  0 4px 12px rgb(250, 249, 249);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}
@media (max-width: 480px) {
    .HeroContaienr h1{
        font-size: 32px;
    }
    .HeroContaienr p{
        font-size: 16px;
    } 
}